/* GLOBAL */

.fullscreen {
	width: 100%;
}

.M {
	color: #5c6bc0 !important;
}

.F {
	color: #ec407a !important;
}

.note {
	font-size: smaller;
}

/* COLLECTIONS */

.collection .collection-item.avatar {
	min-height: 0px;
}

.collection .title a {
	color: black;
}

.collection.no-margin {
	margin: 0px;
}

/* PREVIEW COLLECTION */

.collection.preview {
	margin: 20px 0px 0px 0px;
	min-height: 65px;
}


/* TAGS */

.chip .icon {
	float: left;
	font-size: 16px;
	line-height: 32px;
	padding-right: 5px;
}

.chip.clear {
	color: rgba(0,0,0,0.87);
	margin: 0px;
	padding: 0px;
	background-color: transparent;
}


/* CARDS */

.card .card-person {
	padding: 10px 16px;
}

.card .card-person .person-avatar {
	margin: -5px 10px 0px 0px;
}

/* USER CARDS */

.card.user-card .person-avatar {
	margin: 5px auto;
}

.card.user-card .content {
	padding: 5px;
}

.card.user-card .action {
	padding: 5px 0px;
}

.card.user-card .action .material-icons {
	position: relative;
	top: 3px;
	font-size: 1.5rem;
	margin: 0px 5px;
}

.card.user-card .action a {
	color: inherit;
}
