/* GLOBAL */

.full-width {
	width: 100%;
}

.middle-center {
	padding: 150px 40px 0px 40px;
}

/* GENDER COLORS */

.M {
	color: #5c6bc0 !important;
}

.F {
	color: #ec407a !important;
}

/* COLLECTIONS */

.collection .collection-item.avatar {
	min-height: 0px;
}

.collection.tickets .collection-item {
	padding-right: 55px;
}

.collection.tickets .secondary-content {
	font-size: x-large;
	margin-top: 5px;
}

.collection.tickets .collection-item i {
	margin-top: 10px;
}

/* TAGS */

.chip .icon {
	float: left;
	font-size: 16px;
	line-height: 32px;
	padding-right: 5px;
}

.chip.tiny {
	height: 20px;
	padding: 0 10px;
	line-height: 20px;
	font-size: x-small;
}

.chip.tiny .icon {
	line-height: 20px;
}

.chip.clear {
	color: rgba(0,0,0,0.87);
	margin: 0px;
	padding: 0px;
	background-color: transparent;
}

.chip.spacing {
	margin-right: 5px;
}

/* ONE LINE COLLECTION */

.collection.one-line .avatar {
	min-height: 63px;
}

/* NUMBERS LIST */

.collection.number-list .collection-item {
	padding-left: 50px;
}

.collection.number-list .number {
	width: 30px !important;
	height: 30px !important;
	line-height: 30px !important;
	top: 15px  !important;
	left: 10px !important;
	font-style: normal;
}

/* MODAL */

.modal.fullscreen {
	max-height: 100% !important;
}