<div class="row">
	<div class="col s12 center">
		<h1>No hay rifas abiertas</h1>
		<i class="material-icons large">sentiment_very_dissatisfied</i>
		<p>Lo sentimos, no hay ninguna Rifa abierta ahora mismo. Pruebe nuevamente en algunos días.</p>
	</div>
</div>