<div class="row">
	<div class="col s12">
		<ul class="tabs tabs-fixed-width">
			<li class="tab"><a href="#" onclick="apretaste.send({command: 'RIFA'})">Rifa</a></li>
			<li class="tab"><a href="#" onclick="apretaste.send({command: 'RIFA GANADORES'})">Ganadores</a></li>
			<li class="tab"><a href="#" class="active"><i class="fas fa-question-circle"></i></a></li>
		</ul>
	</div>
</div>

<div class="row">
	<div class="col s12">
		<ul class="collection number-list">
			<li class="collection-item avatar">
				<i class="number circle">1</i>
				<p class="green-text">¿Cómo funciona la rifa?</p>
				<p>Cada día tienes la oportunidad de ganar $3 USD, en saldo para el móvil o en Bitcoin. Para participar debes comprar al menos un ticket antes de que cierre la rifa antes de las 7PM, si compras después que la rifa ha cerrado, tu ticket será agregado a la rifa del próximo día.</p>
			</li>

			<li class="collection-item avatar">
				<i class="number circle">2</i>
				<p class="green-text">¿Cómo adquiero tickets?</p>
				<p>En la parte inferior de la pantalla, verás un rectángulo con una manito roja cuando NO estés jugando o verde si tienes al menos un ticket en el bombo. Para obtener tickets pulsa el icono verde con forma de ticket en ese rectángulo. Te aparecerá una ventana para colocar la cantidad de tickets a adquirir y un botón para confirmar el canje. Una vez que obtengas tickets, estos se agregarán a la rifa en curso.</p>
			</li>

			<li class="collection-item avatar">
				<i class="number circle">3</i>
				<p class="green-text">¿Cómo se anuncian los ganadores?</p>
				<p>Puedes encontrar los ganadores más recientes en la pestaña "ganadores". El ganador diario también se aunciará en la Pizarra y les mandaremos un correo electrónico dejándoles saber.</p>
			</li>

			<li class="collection-item avatar">
				<i class="number circle">4</i>
				<p class="green-text">¿Cómo recibo mi premio?</p>
				<p>Una vez que seas ganador, nuestro equipo te enviará un correo (al que iniciaste sesión en la app) en menos de 24 horas hábiles (lunes a viernes) felicitándote y preguntándote en qué forma quieres tu premio. Respóndenos y te enviaremos el premio en las próximas 24 horas.</p>
			</li>

			<li class="collection-item avatar">
				<i class="number circle">5</i>
				<p class="green-text">¿Cómo obtengo el premio en Bitcoin?</p>
				<p>Una vez contactado por correo, responde indicando que deseas el premio en BTC y déjanos tu dirección pública. Es importante que sepas que eres enteramente responsable de que la dirección enviada sea correcta. Una vez realizada la transferencia esta no se puede detener ni revertir. Te recomendamos echarle un ojo a nuestro curso sobre el Bitcoin en Escuela para que tengas un mejor entendimiento del tema.</p>
			</li>

			<li class="collection-item avatar">
				<i class="number circle">6</i>
				<p class="green-text">¿Cómo y dónde gano créditos?</p>
				<p>Si queires participar, pero no tienes créditos, ¡es fácil! Puedes ver las <a href="#!" onclick="apretaste.send({'command':'CREDITO OBTENER'})">maneras de obtener creditos</a>.
			</li>
		</ul>
	</div>
</div>
